.head{
    padding-top: 0px;
width: 1920px;
height: 850px;
flex-shrink: 0;
background: rgba(229, 84, 115, 0.10);
    
}

nav{
    display: flex;
    padding-top:200px ;
    padding-left:250px;
    
    
}




.h3{
    display: flex;
width: 708px;
flex-direction: column;
flex-shrink: 0;
color: #272727;
font-family: Lato;
font-size: 60px;
font-style: normal;
font-weight: 200;
line-height: normal;
}

.bani{
    display: flex;
width: 634px;
flex-direction: column;
flex-shrink: 0;
color: rgba(39, 39, 39, 0.60);
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
}

.btn{
    display: inline-flex;
padding: 10px 23px;
align-items: flex-start;
gap: 10px;
border-radius: 8px;
background: #E55473;
}

.Shop-Now{
    color: #FFF;
font-family: Lato;
font-size: 10px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.fflower{
    padding-left: 350px;
    width: 735px;
    height: 1000px;
    flex-shrink: 0;
}
.s2{
    text-align: center;
}
.s3{
    margin-right: 100px;
    color: #272727;
text-align: center;
font-family: Lato;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;

}

.s4{
    
}

.c1{
    width: 464px;
height: 538px;
flex-shrink: 0;
border-radius: 300px 300px 0px 0px;
background: rgba(167, 33, 98, 0.15);


}

.c2{
    width: 464px;
height: 538px;
flex-shrink: 0;
border-radius: 300px 300px 0px 0px;
background: rgba(5, 151, 160, 0.15);
}

.c3{
    width: 464px;
height: 538px;
flex-shrink: 0;
border-radius: 300px 300px 0px 0px;
background: rgba(71, 125, 17, 0.15);
}

#our{
    margin-left: 300px;
    display: flex;
    width: 1920px;
height: 4867px;
background: #FFF;
}
.common{
    align-items: center;
    
}